<script src="/assets/prism.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script type="text/javascript"> docsearch({
        apiKey: 'e9f47a09d3b5eab824f48cc26b4227a7',
        indexName: 'beaujs',
        inputSelector: '#search',
        debug: false
    });
</script>
</body>

</html>