<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Beau.js | Testing APIs Made Simple</title>
	<link rel="stylesheet" href="/styles/screen.css">
</head>
<body>
	<header>
		<div class="logo"><a href="/"><img src="/assets/beau.svg" alt="Beau"></a></div>
		<ul>
			<li><a href="/docs">Documentation</a></li>
			<li class="github">
				<a href="https://github.com/seich/beau"><img src="/assets/github.png" alt="Github Logo"></a>
			</li>
		</ul>
	</header>
