<div class="hero">
  <img src="/assets/logo.svg" alt="">

  <p>Beau is a general purpose HTTP client that makes testing web APIs easy.</p>

  <pre><code class="language-yaml">npm install -g beau</code></pre>
</div>

<div class="content">
  <section>
    <div class="description">
      <h1>Simple</h1>
      <p>Beau is all about productivity. All it takes a yaml file and a couple of lines.</p>
    </div>

    <div class="example">
      <pre><code class="language-yaml">endpoint: https://example.com

GET /: home</code></pre>
    </div>
  </section>


  <section>
    <div class="description">
      <h1>Composable</h1>
      <p>
        <a href="/docs/composition.html">Chain multiple requests together</a>. Use the output of one request as a header in another.</p>
    </div>
    <div class="example">
      <pre><code class="language-yaml">endpoint: https://example.com

POST /session: session

GET /profile:
  alias: profile
  headers:
    authentication: $session.body.token
  payload:
    name: David</code></pre>
    </div>
  </section>

  <section>
    <div class="description">
      <h1>Extendable</h1>
      <p>Beau allows you to easily write
        <a href="/docs/plugins.html">plugins</a> to extend it's functionality. Automate authentication, hash values, and much more.</p>
    </div>
    <div class="example">
      <pre><code class="language-yaml">endpoint: https://example.com

plugins:
  - jwt:
      secret: 'hello world'

POST /profile:
  formdata:
    picture: $[readFile('cat.jpg')]</code></pre>
    </div>
  </section>

  <div class="documentation">
    <h1>Easy as Pie.</h1>
    <p>Get started fast by checking out the
      <a href="/docs">Documentation</a>.</p>
  </div>
</div>


<footer>
  David Sergio Díaz © All Rights Reserved.
</footer>