<%- partial("../_header") %>
<div class="docs">

	<a class="docs__menu__toggle" data-menu-toggle>Menu</a>

	<%- partial("_sidebar") %>

	<main class="docs__main" role="main">
		<div class="docs__container">
			<%- yield %>
		</div>
	</main>
</div>

<script>
	var btn = document.querySelector('[data-menu-toggle]');
	var sidebar = document.querySelector('.docs__sidebar');

	btn.addEventListener('click', function() {
		sidebar.classList.toggle('is-open');
	});
</script>

<%- partial("../_footer") %>
