@import "colors.scss";

header {
  background: $red;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 0.5em 4em;
  height: 75px;

  div.logo {
    margin: 0;
    padding: 10px 0;

    img {
      height: 40px;
    }
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 10px 1em;
      padding: 10px 0;
    }
  }

  a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
  }

  .github img {
    height: 32px;
    margin-top: -6px;
  }

  .search {
    position: relative;
    top: -3px;

    svg {
      height: 18px;
      position: absolute;
      top: 16px;
      left: 8px;
      z-index: 10;
    }

    input {
      background: rgba(0, 0, 0, 0.15);
      border: none;
      border-radius: 3px;
      color: white;
      font-size: 1.2em;
      padding: 0.2em 0.5em;
      padding-left: 35px;
    }
  }
}

@media (max-width: 790px) {
  header {
    padding: 0.5em 10px;

    a {
      font-size: 1.3em;
    }

    ul li {
      margin: 10px 0.5em;
    }
  }

  .search {
    display: none;
  }
}
