code,
pre {
  background: #fafafa;
}

pre {
  border: 1px solid #eaeaea;
  padding: 1.5em 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 5px;
}

code[class*="language-"],
pre[class*="language-"] {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
    "Courier New", Courier, monospace;
  font-size: 16px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  color: #592ef5;
}

/* Inline code */
:not(pre) > code {
  padding: 0.1em;
  border-radius: 0.3em;
  background: #fafafa;
  font-size: 0.9em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #6c6783;
}

.token.punctuation {
  color: #6c6783;
}

.token.namespace {
  opacity: 0.7;
}

.token.tag,
.token.operator,
.token.number,
.language-yaml .token.string {
  color: #e94a58;
}

.token.property,
.token.function {
  color: #592ef5;
}

.token.tag-id,
.token.selector,
.token.atrule-id {
  color: #eeebff;
}

code.language-javascript,
.token.attr-name {
  color: #c4b9fe;
}

code.language-css,
code.language-scss,
.token.boolean,
.token.string,
.token.entity,
.token.url,
.language-css .token.string,
.language-scss .token.string,
.style .token.string,
.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit,
.token.statement,
.token.regex,
.token.atrule {
  color: #eb8926;
}

.token.placeholder,
.token.variable {
  color: #ffcc99;
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted #eeebff;
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.important {
  color: #c4b9fe;
}

.token.entity {
  cursor: help;
}

pre > code.highlight {
  outline: 0.4em solid #8a75f5;
  outline-offset: 0.4em;
}
