@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Space+Mono|=EB+Garamond:600,800');
@import 'colors.scss';
@import 'reset.scss';
@import 'header.scss';
@import 'docs.scss';
@import 'home.scss';

body {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	color: $black;
}

code {
	font-family: 'Space Mono', monospace;
}

h1 {
	font-family: Garamond, serif;
	font-weight: 800;
}
